{% extends "base.html" %}

{% block content %}
  <main>
    <div class="mb-4 pb-4"></div>
    <section class="contact-us container">
      <div class="mw-930">
        <h2 class="page-title">CONTACT US</h2>
      </div>
    </section>
    
    {% comment %} <section class="google-map mb-5">
      <h2 class="d-none">Contact US</h2>
      <div id="map" class="google-map__wrapper"></div>
    </section> {% endcomment %}

    <section class="contact-us container">
      <div class="mw-930">
        <div class="row mb-5">
          <div class="col-lg-6">
            <h3 class="mb-4">Store in Urgench</h3>
            <p class="mb-4">220100 Urgench C, Amir Temur 29, KH 220100<br>Uzbekistan</p>
            <p class="mb-4">sabirovasadbek1605@gmail.com<br>+998 88 510 8802</p>
          </div>
        </div>
        <div class="contact-us__form">
          <form action="{% url 'contact' %}" name="contact-us-form" class="needs-validation" method="post">
            {% csrf_token %}
            <h3 class="mb-5">Get In Touch</h3>
            {{form.as_p}}
              <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </section>
  </main>
  {% endblock content %}
