{% extends "base.html" %}

{% block content %}

  <main>
    <section class="coming-soon">
      <div class="content container">
        <h2 class="mb-3">COMING SOON</h2>
        <p class="mb-5">Sorry, we couldn't find the page you where looking for. We suggest that you return to home page.</p>
        <div class="js-countdown mb-5" data-date="20-11-2023" data-time="06:50">
          <div class="day countdown-unit">
            <span class="countdown-num d-block"></span>
            <span class="countdown-word fw-bold text-uppercase text-secondary">Days</span>
          </div>

          <div class="hour countdown-unit">
            <span class="countdown-num d-block"></span>
            <span class="countdown-word fw-bold text-uppercase text-secondary">Hours</span>
          </div>

          <div class="min countdown-unit">
            <span class="countdown-num d-block"></span>
            <span class="countdown-word fw-bold text-uppercase text-secondary">Mins</span>
          </div>

          <div class="sec countdown-unit">
            <span class="countdown-num d-block"></span>
            <span class="countdown-word fw-bold text-uppercase text-secondary">Sec</span>
          </div>
        </div>
        <div class="block-newsletter">
          <form action="https://uomo-html.flexkitux.com/Demo5/index.html" class="block-newsletter__form">
            <input class="form-control" type="email" name="email" placeholder="Your email address">
            <button class="btn btn-secondary" type="submit">JOIN</button>
          </form>
        </div>
      </div>
    </section>
  </main>
  {% endblock content %}
 